:root {
  --bg-body: #020617;
  --bg-alt: #0b1220;
  --panel-surface: #0f172a;

  --text-main: #e5e7eb;
  --text-muted: #cbd5f5;

  --brand-primary: #60a5fa;
  --brand-focus: #a5b4fc;

  --white: #ffffff;
  --border-color: #1f2937;

  --hover-pink: #b72659;
  --hover-pink-text: #ffffff;

  --container-width: 70rem;
  --section-padding: 4rem 1.5rem;
  --header-height: 0rem;

  --accent-soft: #d6c1b1;
  --accent-soft-text: #1a1a1a;
}